
@{
    ViewBag.Title = "_PartialHoldings";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script src="~/Content/js/plugins/datatables.min.js"></script>
<script src="~/Content/js/scripts/datatables.script.js"></script>
<script src="~/Content/js/scripts/datatables.script.min.js"></script>
<script src="~/Content/js/plugins/calendar/jquery-ui.min.js"></script>

<div class="main-content container-fluid">
    <div class="money-info-section">
        <div class="row">
            <!-- ICON BG-->
            <div class="col-md-15 col">
                <div class="card value-box card-icon-bg card-icon-bg-primary o-hidden mb-4">
                    <div class="card-body text-center">
                        <i class="i-Money-Bag"></i>
                        <div class="content">
                            <p class="text-muted mt-2 mb-0">Current Value</p>
                            <p class="text-primary text-14 line-height-1 mb-2">₹49,62,454.00</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-15 col">
                <div class="card value-box card-icon-bg card-icon-bg-primary o-hidden mb-4">
                    <div class="card-body text-center">
                        <i class="i-Financial"></i>
                        <div class="content">
                            <p class="text-muted mt-2 mb-0">Investment Value</p>
                            <p class="text-primary text-14 line-height-1 mb-2">₹48,72,228.00</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-15 col">
                <div class="card value-box card-icon-bg card-icon-bg-primary o-hidden mb-4">
                    <div class="card-body text-center">
                        <i class="i-Line-Chart-2"></i>
                        <div class="content">
                            <p class="text-muted mt-2 mb-0">Today's P/L</p>
                            <p class="text-danger text-14 line-height-1 t-font-boldest mb-2">₹-1,38,736.35<span class="text-small">(-2.85%)</span></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-15 col">
                <div class="card value-box card-icon-bg card-icon-bg-primary o-hidden mb-4">
                    <div class="card-body text-center">
                        <i class="i-Money-2"></i>
                        <div class="content">
                            <p class="text-muted mt-2 mb-0">Unrealised P/L</p>
                            <p class="text-primary text-14 line-height-1 mb-2">₹-90,225.97<span class="text-small">(-1.85%)</span></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-15 col">
                <div class="card value-box card-icon-bg card-icon-bg-primary o-hidden mb-4">
                    <div class="card-body text-center">
                        <i class="i-Money-2"></i>
                        <div class="content">
                            <p class="text-muted mt-2 mb-0">Equity Balance</p>
                            <p class="text-primary text-14 line-height-1 mb-2">₹-3,10,623.51<span class="text-small">(-1.85%)</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 chart-table">
        <h4 class="mr-2"><i class="i i-Suitcase pr-2"></i>My Account</h4>
        @*<div class="alert alert-primary pb-0" role="alert">
                <p>75% of all Yes Bank Shares held will be blocked for 3 years. <a href="#"><b>Know More</b></a></p>
            </div>*@
        <div>

            <div class="form-group row flex-grow-1">
                <div class="col-md-3">
                    <label>Date</label>
                    <input class="form-control w-100 m-0 form-control-rounded" id="ToDate" type="date" name="date" max="31-12-3000" min="01-01-1000">
                </div>
                <div class="col-md-1 align-self-end">
                    <button  id="btnView" class="btn btn-icon w-100 btn-rounded btn-primary mr-2">View</button>
                </div>
            </div>
        </div>
       
        <div class="tab-content p-0" id="profileTabContent">
            <div class="tab-pane fade show active" id="asset" role="tabpanel">
                <div class="tab tab-active" data-id="tab1">
                    <div class="row">
                        <div class="col-md-6">
                            @*<div class="d-block">
                                <p>Last updated :Equity-2020/09/18 | MF-2020/09/17</p>
                            </div>*@
                        </div>
                        <div class="col-md-6">
                            <div class="float-right d-block">
                                <a href="#"><i class="i i-Download pr-2"></i>Download: Xlsx | Xlxs data | PDF</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab" data-id="tab2">
                    <div class="row">
                        <div class="col-md-4">
                            <div id="allocation-10" style="height: 300px;"></div>
                        </div>
                        <div class="col-md-4">
                            <div id="allocation-11" style="height: 300px;"></div>
                        </div>
                        <div class="col-md-4">
                            <div id="allocation-12" style="height: 300px;"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <div class="d-block">
                                <p>Last updated :Equity-2020/09/18 | MF-2020/09/17</p>
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <div class="float-right d-block">
                                <a href="#"><i class="i i-Download pr-2"></i>Download: Xlsx </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row m-2  ">
                    <div class="card card-jquery p-4 fulltable">
                        <div class="table-responsive allocation-table-responsive">
                            <table class="display table table-hover allocation-table" id="grdHoldingDetials" style="width:100%">
                                <thead>
                                    <tr>
                                        <th style="width: 80px;">Script</th>
                                        <th style="width: 150px;">Name</th>
                                        <th>ISIN</th>
                                        <th>PLEDGE QTY</th>
                                        <th>CUSA</th>
                                        <th>DP FREE Stock</th>
                                        <th>Inward Short</th>
                                        <th>Outward Short</th>
                                        <th>Net</th>
                                        <th>Closing Price</th>
                                        <th>Value</th>
                                        <th>Allocation</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @*<tr>
                                            <td>
                                                <a href="">542012-EQ</a>
                                            </td>
                                            <td>
                                                IPL gets started<button class="btn btn-primary allocation-more btn-rounded _r_btn border-0 float-right" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="_dot _r_block-dot"></span></button>
                                                <div class="table-dropdown dropdown-menu" x-placement="bottom-start">
                                                    <a class="dropdown-item">
                                                        <label class="radio radio-primary mb-0" checked="">
                                                            <input type="radio" name="radio" value="0" checked=""><span>View Breakdown</span><span class="checkmark"></span>
                                                        </label>
                                                    </a>
                                                    <a class="dropdown-item">
                                                        <label class="radio radio-primary mb-0">
                                                            <input type="radio" name="radio" value="0"><span>Fundamentals</span><span class="checkmark"></span>
                                                        </label>
                                                    </a>
                                                    <div class="dropdown-divider"></div>
                                                    <a class="dropdown-item">
                                                        <label class="radio radio-primary mb-0">
                                                            <input type="radio" name="radio" value="0"><span>View Breakdown</span><span class="checkmark"></span>
                                                        </label>
                                                    </a>
                                                </div>
                                            </td>
                                            <td>600</td>
                                            <td>0</td>
                                            <td>0.000</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>6000.00</td>
                                            <td>65.75</td>
                                            <td>1697.67</td>
                                            <td>1697.67</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <a href="">542012-EQ</a>
                                            </td>
                                            <td>
                                                IPL gets started<button class="btn btn-primary allocation-more btn-rounded _r_btn border-0 float-right" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="_dot _r_block-dot"></span></button>
                                                <div class="table-dropdown dropdown-menu" x-placement="bottom-start">
                                                    <a class="dropdown-item">
                                                        <label class="radio radio-primary mb-0" checked="">
                                                            <input type="radio" name="radio" value="0" checked=""><span>View Breakdown</span><span class="checkmark"></span>
                                                        </label>
                                                    </a>
                                                    <a class="dropdown-item">
                                                        <label class="radio radio-primary mb-0">
                                                            <input type="radio" name="radio" value="0"><span>Fundamentals</span><span class="checkmark"></span>
                                                        </label>
                                                    </a>
                                                    <div class="dropdown-divider"></div>
                                                    <a class="dropdown-item">
                                                        <label class="radio radio-primary mb-0">
                                                            <input type="radio" name="radio" value="0"><span>View Breakdown</span><span class="checkmark"></span>
                                                        </label>
                                                    </a>
                                                </div>
                                            </td>
                                            <td>600</td>
                                            <td>0</td>
                                            <td>0.000</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>6000.00</td>
                                            <td>65.75</td>
                                            <td>1697.67</td>
                                            <td>1697.67</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <a href="">542012-EQ</a>
                                            </td>
                                            <td>
                                                IPL gets started<button class="btn btn-primary allocation-more btn-rounded _r_btn border-0 float-right" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="_dot _r_block-dot"></span></button>
                                                <div class="table-dropdown dropdown-menu" x-placement="bottom-start">
                                                    <a class="dropdown-item">
                                                        <label class="radio radio-primary mb-0" checked="">
                                                            <input type="radio" name="radio" value="0" checked=""><span>View Breakdown</span><span class="checkmark"></span>
                                                        </label>
                                                    </a>
                                                    <a class="dropdown-item">
                                                        <label class="radio radio-primary mb-0">
                                                            <input type="radio" name="radio" value="0"><span>Fundamentals</span><span class="checkmark"></span>
                                                        </label>
                                                    </a>
                                                    <div class="dropdown-divider"></div>
                                                    <a class="dropdown-item">
                                                        <label class="radio radio-primary mb-0">
                                                            <input type="radio" name="radio" value="0"><span>View Breakdown</span><span class="checkmark"></span>
                                                        </label>
                                                    </a>
                                                </div>
                                            </td>
                                            <td>600</td>
                                            <td>0</td>
                                            <td>0.000</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>6000.00</td>
                                            <td>65.75</td>
                                            <td>1697.67</td>
                                            <td>1697.67</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <a href="">542012-EQ</a>
                                            </td>
                                            <td>
                                                IPL gets started<button class="btn btn-primary allocation-more btn-rounded _r_btn border-0 float-right" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="_dot _r_block-dot"></span></button>
                                                <div class="table-dropdown dropdown-menu" x-placement="bottom-start">
                                                    <a class="dropdown-item">
                                                        <label class="radio radio-primary mb-0" checked="">
                                                            <input type="radio" name="radio" value="0" checked=""><span>View Breakdown</span><span class="checkmark"></span>
                                                        </label>
                                                    </a>
                                                    <a class="dropdown-item">
                                                        <label class="radio radio-primary mb-0">
                                                            <input type="radio" name="radio" value="0"><span>Fundamentals</span><span class="checkmark"></span>
                                                        </label>
                                                    </a>
                                                    <div class="dropdown-divider"></div>
                                                    <a class="dropdown-item">
                                                        <label class="radio radio-primary mb-0">
                                                            <input type="radio" name="radio" value="0"><span>View Breakdown</span><span class="checkmark"></span>
                                                        </label>
                                                    </a>
                                                </div>
                                            </td>
                                            <td>600</td>
                                            <td>0</td>
                                            <td>0.000</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>6000.00</td>
                                            <td>65.75</td>
                                            <td>1697.67</td>
                                            <td>1697.67</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <a href="">542012-EQ</a>
                                            </td>
                                            <td>
                                                IPL gets started<button class="btn btn-primary allocation-more btn-rounded _r_btn border-0 float-right" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="_dot _r_block-dot"></span></button>
                                                <div class="table-dropdown dropdown-menu" x-placement="bottom-start">
                                                    <a class="dropdown-item">
                                                        <label class="radio radio-primary mb-0" checked="">
                                                            <input type="radio" name="radio" value="0" checked=""><span>View Breakdown</span><span class="checkmark"></span>
                                                        </label>
                                                    </a>
                                                    <a class="dropdown-item">
                                                        <label class="radio radio-primary mb-0">
                                                            <input type="radio" name="radio" value="0"><span>Fundamentals</span><span class="checkmark"></span>
                                                        </label>
                                                    </a>
                                                    <div class="dropdown-divider"></div>
                                                    <a class="dropdown-item">
                                                        <label class="radio radio-primary mb-0">
                                                            <input type="radio" name="radio" value="0"><span>View Breakdown</span><span class="checkmark"></span>
                                                        </label>
                                                    </a>
                                                </div>
                                            </td>
                                            <td>600</td>
                                            <td>0</td>
                                            <td>0.000</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>6000.00</td>
                                            <td>65.75</td>
                                            <td>1697.67</td>
                                            <td>1697.67</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <a href="">542012-EQ</a>
                                            </td>
                                            <td>
                                                IPL gets started<button class="btn btn-primary allocation-more btn-rounded _r_btn border-0 float-right" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="_dot _r_block-dot"></span></button>
                                                <div class="table-dropdown dropdown-menu" x-placement="bottom-start">
                                                    <a class="dropdown-item">
                                                        <label class="radio radio-primary mb-0" checked="">
                                                            <input type="radio" name="radio" value="0" checked=""><span>View Breakdown</span><span class="checkmark"></span>
                                                        </label>
                                                    </a>
                                                    <a class="dropdown-item">
                                                        <label class="radio radio-primary mb-0">
                                                            <input type="radio" name="radio" value="0"><span>Fundamentals</span><span class="checkmark"></span>
                                                        </label>
                                                    </a>
                                                    <div class="dropdown-divider"></div>
                                                    <a class="dropdown-item">
                                                        <label class="radio radio-primary mb-0">
                                                            <input type="radio" name="radio" value="0"><span>View Breakdown</span><span class="checkmark"></span>
                                                        </label>
                                                    </a>
                                                </div>
                                            </td>
                                            <td>600</td>
                                            <td>0</td>
                                            <td>0.000</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>6000.00</td>
                                            <td>65.75</td>
                                            <td>1697.67</td>
                                            <td>1697.67</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <a href="">542012-EQ</a>
                                            </td>
                                            <td>
                                                IPL gets started<button class="btn btn-primary allocation-more btn-rounded _r_btn border-0 float-right" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="_dot _r_block-dot"></span></button>
                                                <div class="table-dropdown dropdown-menu" x-placement="bottom-start">
                                                    <a class="dropdown-item">
                                                        <label class="radio radio-primary mb-0" checked="">
                                                            <input type="radio" name="radio" value="0" checked=""><span>View Breakdown</span><span class="checkmark"></span>
                                                        </label>
                                                    </a>
                                                    <a class="dropdown-item">
                                                        <label class="radio radio-primary mb-0">
                                                            <input type="radio" name="radio" value="0"><span>Fundamentals</span><span class="checkmark"></span>
                                                        </label>
                                                    </a>
                                                    <div class="dropdown-divider"></div>
                                                    <a class="dropdown-item">
                                                        <label class="radio radio-primary mb-0">
                                                            <input type="radio" name="radio" value="0"><span>View Breakdown</span><span class="checkmark"></span>
                                                        </label>
                                                    </a>
                                                </div>
                                            </td>
                                            <td>600</td>
                                            <td>0</td>
                                            <td>0.000</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>6000.00</td>
                                            <td>65.75</td>
                                            <td>1697.67</td>
                                            <td>1697.67</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <a href="">542012-EQ</a>
                                            </td>
                                            <td>
                                                IPL gets started<button class="btn btn-primary allocation-more btn-rounded _r_btn border-0 float-right" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="_dot _r_block-dot"></span></button>
                                                <div class="table-dropdown dropdown-menu" x-placement="bottom-start">
                                                    <a class="dropdown-item">
                                                        <label class="radio radio-primary mb-0" checked="">
                                                            <input type="radio" name="radio" value="0" checked=""><span>View Breakdown</span><span class="checkmark"></span>
                                                        </label>
                                                    </a>
                                                    <a class="dropdown-item">
                                                        <label class="radio radio-primary mb-0">
                                                            <input type="radio" name="radio" value="0"><span>Fundamentals</span><span class="checkmark"></span>
                                                        </label>
                                                    </a>
                                                    <div class="dropdown-divider"></div>
                                                    <a class="dropdown-item">
                                                        <label class="radio radio-primary mb-0">
                                                            <input type="radio" name="radio" value="0"><span>View Breakdown</span><span class="checkmark"></span>
                                                        </label>
                                                    </a>
                                                </div>
                                            </td>
                                            <td>600</td>
                                            <td>0</td>
                                            <td>0.000</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>6000.00</td>
                                            <td>65.75</td>
                                            <td>1697.67</td>
                                            <td>1697.67</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <a href="">542012-EQ</a>
                                            </td>
                                            <td>
                                                IPL gets started<button class="btn btn-primary allocation-more btn-rounded _r_btn border-0 float-right" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="_dot _r_block-dot"></span></button>
                                                <div class="table-dropdown dropdown-menu" x-placement="bottom-start">
                                                    <a class="dropdown-item">
                                                        <label class="radio radio-primary mb-0" checked="">
                                                            <input type="radio" name="radio" value="0" checked=""><span>View Breakdown</span><span class="checkmark"></span>
                                                        </label>
                                                    </a>
                                                    <a class="dropdown-item">
                                                        <label class="radio radio-primary mb-0">
                                                            <input type="radio" name="radio" value="0"><span>Fundamentals</span><span class="checkmark"></span>
                                                        </label>
                                                    </a>
                                                    <div class="dropdown-divider"></div>
                                                    <a class="dropdown-item">
                                                        <label class="radio radio-primary mb-0">
                                                            <input type="radio" name="radio" value="0"><span>View Breakdown</span><span class="checkmark"></span>
                                                        </label>
                                                    </a>
                                                </div>
                                            </td>
                                            <td>600</td>
                                            <td>0</td>
                                            <td>0.000</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>6000.00</td>
                                            <td>65.75</td>
                                            <td>1697.67</td>
                                            <td>1697.67</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <a href="">542012-EQ</a>
                                            </td>
                                            <td>
                                                IPL gets started<button class="btn btn-primary allocation-more btn-rounded _r_btn border-0 float-right" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="_dot _r_block-dot"></span></button>
                                                <div class="table-dropdown dropdown-menu" x-placement="bottom-start">
                                                    <a class="dropdown-item">
                                                        <label class="radio radio-primary mb-0" checked="">
                                                            <input type="radio" name="radio" value="0" checked=""><span>View Breakdown</span><span class="checkmark"></span>
                                                        </label>
                                                    </a>
                                                    <a class="dropdown-item">
                                                        <label class="radio radio-primary mb-0">
                                                            <input type="radio" name="radio" value="0"><span>Fundamentals</span><span class="checkmark"></span>
                                                        </label>
                                                    </a>
                                                    <div class="dropdown-divider"></div>
                                                    <a class="dropdown-item">
                                                        <label class="radio radio-primary mb-0">
                                                            <input type="radio" name="radio" value="0"><span>View Breakdown</span><span class="checkmark"></span>
                                                        </label>
                                                    </a>
                                                </div>
                                            </td>
                                            <td>600</td>
                                            <td>0</td>
                                            <td>0.000</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>6000.00</td>
                                            <td>65.75</td>
                                            <td>1697.67</td>
                                            <td>1697.67</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <a href="">542012-EQ</a>
                                            </td>
                                            <td>
                                                IPL gets started<button class="btn btn-primary allocation-more btn-rounded _r_btn border-0 float-right" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="_dot _r_block-dot"></span></button>
                                                <div class="table-dropdown dropdown-menu" x-placement="bottom-start">
                                                    <a class="dropdown-item">
                                                        <label class="radio radio-primary mb-0" checked="">
                                                            <input type="radio" name="radio" value="0" checked=""><span>View Breakdown</span><span class="checkmark"></span>
                                                        </label>
                                                    </a>
                                                    <a class="dropdown-item">
                                                        <label class="radio radio-primary mb-0">
                                                            <input type="radio" name="radio" value="0"><span>Fundamentals</span><span class="checkmark"></span>
                                                        </label>
                                                    </a>
                                                    <div class="dropdown-divider"></div>
                                                    <a class="dropdown-item">
                                                        <label class="radio radio-primary mb-0">
                                                            <input type="radio" name="radio" value="0"><span>View Breakdown</span><span class="checkmark"></span>
                                                        </label>
                                                    </a>
                                                </div>
                                            </td>
                                            <td>600</td>
                                            <td>0</td>
                                            <td>0.000</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>6000.00</td>
                                            <td>65.75</td>
                                            <td>1697.67</td>
                                            <td>1697.67</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <a href="">542012-EQ</a>
                                            </td>
                                            <td>
                                                IPL gets started<button class="btn btn-primary allocation-more btn-rounded _r_btn border-0 float-right" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="_dot _r_block-dot"></span></button>
                                                <div class="table-dropdown dropdown-menu" x-placement="bottom-start">
                                                    <a class="dropdown-item">
                                                        <label class="radio radio-primary mb-0" checked="">
                                                            <input type="radio" name="radio" value="0" checked=""><span>View Breakdown</span><span class="checkmark"></span>
                                                        </label>
                                                    </a>
                                                    <a class="dropdown-item">
                                                        <label class="radio radio-primary mb-0">
                                                            <input type="radio" name="radio" value="0"><span>Fundamentals</span><span class="checkmark"></span>
                                                        </label>
                                                    </a>
                                                    <div class="dropdown-divider"></div>
                                                    <a class="dropdown-item">
                                                        <label class="radio radio-primary mb-0">
                                                            <input type="radio" name="radio" value="0"><span>View Breakdown</span><span class="checkmark"></span>
                                                        </label>
                                                    </a>
                                                </div>
                                            </td>
                                            <td>600</td>
                                            <td>0</td>
                                            <td>0.000</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>6000.00</td>
                                            <td>65.75</td>
                                            <td>1697.67</td>
                                            <td>1697.67</td>
                                        </tr>*@
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade show" id="bank-details" role="tabpanel">
                <div class="tab tab-active" data-id="tab1">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="chart-head">
                                <h4>Account</h4>
                            </div>
                            <div id="allocation-4" style="height: 300px;"></div>
                        </div>
                        <div class="col-md-4">
                            <div class="chart-head">
                                <h4>Sectors</h4>
                            </div>
                            <div id="allocation-5" style="height: 300px;"></div>
                        </div>
                        <div class="col-md-4">
                            <div class="chart-head">
                                <h4>Stocks</h4>
                            </div>
                            <div id="allocation-6" style="height: 300px;"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <div class="d-block">
                                <p>Last updated :Equity-2020/09/18 | MF-2020/09/17</p>
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <div class="float-right d-block">
                                <a href="#"><i class="i i-Download pr-2"></i>Download: Xlsx | Xlxs data | PDF</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row m-2">
                    <div class="card p-4 fulltable">
                        <div class="table-responsive">
                            <table class="display table table-hover allocation-table" id="ul-contact-list1" style="width:100%">
                                <thead>
                                    <tr>
                                        <th style="width: 80px;">Script</th>
                                        <th style="width: 150px;">Name</th>
                                        <th>Collateral</th>
                                        <th>Broker Beneficiary</th>
                                        <th>Depository</th>
                                        <th>Inward Short</th>
                                        <th>Outward Short</th>
                                        <th>Net</th>
                                        <th>Closing Price</th>
                                        <th>Value</th>
                                        <th>Allocation</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <a href="">542012-EQ</a>
                                        </td>
                                        <td>
                                            IPL gets started<button class="btn btn-primary allocation-more btn-rounded _r_btn border-0 float-right" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="_dot _r_block-dot"></span></button>
                                            <div class="table-dropdown dropdown-menu" x-placement="bottom-start">
                                                <a class="dropdown-item">
                                                    <label class="radio radio-primary mb-0" checked="">
                                                        <input type="radio" name="radio" value="0" checked=""><span>View Breakdown</span><span class="checkmark"></span>
                                                    </label>
                                                </a>
                                                <a class="dropdown-item">
                                                    <label class="radio radio-primary mb-0">
                                                        <input type="radio" name="radio" value="0"><span>Fundamentals</span><span class="checkmark"></span>
                                                    </label>
                                                </a>
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item">
                                                    <label class="radio radio-primary mb-0">
                                                        <input type="radio" name="radio" value="0"><span>View Breakdown</span><span class="checkmark"></span>
                                                    </label>
                                                </a>
                                            </div>
                                        </td>
                                        <td>600</td>
                                        <td>0</td>
                                        <td>0.000</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>6000.00</td>
                                        <td>65.75</td>
                                        <td>1697.67</td>
                                        <td>1697.67</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="">542012-EQ</a>
                                        </td>
                                        <td>
                                            IPL gets started<button class="btn btn-primary allocation-more btn-rounded _r_btn border-0 float-right" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="_dot _r_block-dot"></span></button>
                                            <div class="table-dropdown dropdown-menu" x-placement="bottom-start">
                                                <a class="dropdown-item">
                                                    <label class="radio radio-primary mb-0" checked="">
                                                        <input type="radio" name="radio" value="0" checked=""><span>View Breakdown</span><span class="checkmark"></span>
                                                    </label>
                                                </a>
                                                <a class="dropdown-item">
                                                    <label class="radio radio-primary mb-0">
                                                        <input type="radio" name="radio" value="0"><span>Fundamentals</span><span class="checkmark"></span>
                                                    </label>
                                                </a>
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item">
                                                    <label class="radio radio-primary mb-0">
                                                        <input type="radio" name="radio" value="0"><span>View Breakdown</span><span class="checkmark"></span>
                                                    </label>
                                                </a>
                                            </div>
                                        </td>
                                        <td>600</td>
                                        <td>0</td>
                                        <td>0.000</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>6000.00</td>
                                        <td>65.75</td>
                                        <td>1697.67</td>
                                        <td>1697.67</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="">542012-EQ</a>
                                        </td>
                                        <td>
                                            IPL gets started<button class="btn btn-primary allocation-more btn-rounded _r_btn border-0 float-right" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="_dot _r_block-dot"></span></button>
                                            <div class="table-dropdown dropdown-menu" x-placement="bottom-start">
                                                <a class="dropdown-item">
                                                    <label class="radio radio-primary mb-0" checked="">
                                                        <input type="radio" name="radio" value="0" checked=""><span>View Breakdown</span><span class="checkmark"></span>
                                                    </label>
                                                </a>
                                                <a class="dropdown-item">
                                                    <label class="radio radio-primary mb-0">
                                                        <input type="radio" name="radio" value="0"><span>Fundamentals</span><span class="checkmark"></span>
                                                    </label>
                                                </a>
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item">
                                                    <label class="radio radio-primary mb-0">
                                                        <input type="radio" name="radio" value="0"><span>View Breakdown</span><span class="checkmark"></span>
                                                    </label>
                                                </a>
                                            </div>
                                        </td>
                                        <td>600</td>
                                        <td>0</td>
                                        <td>0.000</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>6000.00</td>
                                        <td>65.75</td>
                                        <td>1697.67</td>
                                        <td>1697.67</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="">542012-EQ</a>
                                        </td>
                                        <td>
                                            IPL gets started<button class="btn btn-primary allocation-more btn-rounded _r_btn border-0 float-right" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="_dot _r_block-dot"></span></button>
                                            <div class="table-dropdown dropdown-menu" x-placement="bottom-start">
                                                <a class="dropdown-item">
                                                    <label class="radio radio-primary mb-0" checked="">
                                                        <input type="radio" name="radio" value="0" checked=""><span>View Breakdown</span><span class="checkmark"></span>
                                                    </label>
                                                </a>
                                                <a class="dropdown-item">
                                                    <label class="radio radio-primary mb-0">
                                                        <input type="radio" name="radio" value="0"><span>Fundamentals</span><span class="checkmark"></span>
                                                    </label>
                                                </a>
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item">
                                                    <label class="radio radio-primary mb-0">
                                                        <input type="radio" name="radio" value="0"><span>View Breakdown</span><span class="checkmark"></span>
                                                    </label>
                                                </a>
                                            </div>
                                        </td>
                                        <td>600</td>
                                        <td>0</td>
                                        <td>0.000</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>6000.00</td>
                                        <td>65.75</td>
                                        <td>1697.67</td>
                                        <td>1697.67</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="">542012-EQ</a>
                                        </td>
                                        <td>
                                            IPL gets started<button class="btn btn-primary allocation-more btn-rounded _r_btn border-0 float-right" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="_dot _r_block-dot"></span></button>
                                            <div class="table-dropdown dropdown-menu" x-placement="bottom-start">
                                                <a class="dropdown-item">
                                                    <label class="radio radio-primary mb-0" checked="">
                                                        <input type="radio" name="radio" value="0" checked=""><span>View Breakdown</span><span class="checkmark"></span>
                                                    </label>
                                                </a>
                                                <a class="dropdown-item">
                                                    <label class="radio radio-primary mb-0">
                                                        <input type="radio" name="radio" value="0"><span>Fundamentals</span><span class="checkmark"></span>
                                                    </label>
                                                </a>
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item">
                                                    <label class="radio radio-primary mb-0">
                                                        <input type="radio" name="radio" value="0"><span>View Breakdown</span><span class="checkmark"></span>
                                                    </label>
                                                </a>
                                            </div>
                                        </td>
                                        <td>600</td>
                                        <td>0</td>
                                        <td>0.000</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>6000.00</td>
                                        <td>65.75</td>
                                        <td>1697.67</td>
                                        <td>1697.67</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="">542012-EQ</a>
                                        </td>
                                        <td>
                                            IPL gets started<button class="btn btn-primary allocation-more btn-rounded _r_btn border-0 float-right" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="_dot _r_block-dot"></span></button>
                                            <div class="table-dropdown dropdown-menu" x-placement="bottom-start">
                                                <a class="dropdown-item">
                                                    <label class="radio radio-primary mb-0" checked="">
                                                        <input type="radio" name="radio" value="0" checked=""><span>View Breakdown</span><span class="checkmark"></span>
                                                    </label>
                                                </a>
                                                <a class="dropdown-item">
                                                    <label class="radio radio-primary mb-0">
                                                        <input type="radio" name="radio" value="0"><span>Fundamentals</span><span class="checkmark"></span>
                                                    </label>
                                                </a>
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item">
                                                    <label class="radio radio-primary mb-0">
                                                        <input type="radio" name="radio" value="0"><span>View Breakdown</span><span class="checkmark"></span>
                                                    </label>
                                                </a>
                                            </div>
                                        </td>
                                        <td>600</td>
                                        <td>0</td>
                                        <td>0.000</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>6000.00</td>
                                        <td>65.75</td>
                                        <td>1697.67</td>
                                        <td>1697.67</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="">542012-EQ</a>
                                        </td>
                                        <td>
                                            IPL gets started<button class="btn btn-primary allocation-more btn-rounded _r_btn border-0 float-right" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="_dot _r_block-dot"></span></button>
                                            <div class="table-dropdown dropdown-menu" x-placement="bottom-start">
                                                <a class="dropdown-item">
                                                    <label class="radio radio-primary mb-0" checked="">
                                                        <input type="radio" name="radio" value="0" checked=""><span>View Breakdown</span><span class="checkmark"></span>
                                                    </label>
                                                </a>
                                                <a class="dropdown-item">
                                                    <label class="radio radio-primary mb-0">
                                                        <input type="radio" name="radio" value="0"><span>Fundamentals</span><span class="checkmark"></span>
                                                    </label>
                                                </a>
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item">
                                                    <label class="radio radio-primary mb-0">
                                                        <input type="radio" name="radio" value="0"><span>View Breakdown</span><span class="checkmark"></span>
                                                    </label>
                                                </a>
                                            </div>
                                        </td>
                                        <td>600</td>
                                        <td>0</td>
                                        <td>0.000</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>6000.00</td>
                                        <td>65.75</td>
                                        <td>1697.67</td>
                                        <td>1697.67</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="">542012-EQ</a>
                                        </td>
                                        <td>
                                            IPL gets started<button class="btn btn-primary allocation-more btn-rounded _r_btn border-0 float-right" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="_dot _r_block-dot"></span></button>
                                            <div class="table-dropdown dropdown-menu" x-placement="bottom-start">
                                                <a class="dropdown-item">
                                                    <label class="radio radio-primary mb-0" checked="">
                                                        <input type="radio" name="radio" value="0" checked=""><span>View Breakdown</span><span class="checkmark"></span>
                                                    </label>
                                                </a>
                                                <a class="dropdown-item">
                                                    <label class="radio radio-primary mb-0">
                                                        <input type="radio" name="radio" value="0"><span>Fundamentals</span><span class="checkmark"></span>
                                                    </label>
                                                </a>
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item">
                                                    <label class="radio radio-primary mb-0">
                                                        <input type="radio" name="radio" value="0"><span>View Breakdown</span><span class="checkmark"></span>
                                                    </label>
                                                </a>
                                            </div>
                                        </td>
                                        <td>600</td>
                                        <td>0</td>
                                        <td>0.000</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>6000.00</td>
                                        <td>65.75</td>
                                        <td>1697.67</td>
                                        <td>1697.67</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="">542012-EQ</a>
                                        </td>
                                        <td>
                                            IPL gets started<button class="btn btn-primary allocation-more btn-rounded _r_btn border-0 float-right" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="_dot _r_block-dot"></span></button>
                                            <div class="table-dropdown dropdown-menu" x-placement="bottom-start">
                                                <a class="dropdown-item">
                                                    <label class="radio radio-primary mb-0" checked="">
                                                        <input type="radio" name="radio" value="0" checked=""><span>View Breakdown</span><span class="checkmark"></span>
                                                    </label>
                                                </a>
                                                <a class="dropdown-item">
                                                    <label class="radio radio-primary mb-0">
                                                        <input type="radio" name="radio" value="0"><span>Fundamentals</span><span class="checkmark"></span>
                                                    </label>
                                                </a>
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item">
                                                    <label class="radio radio-primary mb-0">
                                                        <input type="radio" name="radio" value="0"><span>View Breakdown</span><span class="checkmark"></span>
                                                    </label>
                                                </a>
                                            </div>
                                        </td>
                                        <td>600</td>
                                        <td>0</td>
                                        <td>0.000</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>6000.00</td>
                                        <td>65.75</td>
                                        <td>1697.67</td>
                                        <td>1697.67</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="">542012-EQ</a>
                                        </td>
                                        <td>
                                            IPL gets started<button class="btn btn-primary allocation-more btn-rounded _r_btn border-0 float-right" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="_dot _r_block-dot"></span></button>
                                            <div class="table-dropdown dropdown-menu" x-placement="bottom-start">
                                                <a class="dropdown-item">
                                                    <label class="radio radio-primary mb-0" checked="">
                                                        <input type="radio" name="radio" value="0" checked=""><span>View Breakdown</span><span class="checkmark"></span>
                                                    </label>
                                                </a>
                                                <a class="dropdown-item">
                                                    <label class="radio radio-primary mb-0">
                                                        <input type="radio" name="radio" value="0"><span>Fundamentals</span><span class="checkmark"></span>
                                                    </label>
                                                </a>
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item">
                                                    <label class="radio radio-primary mb-0">
                                                        <input type="radio" name="radio" value="0"><span>View Breakdown</span><span class="checkmark"></span>
                                                    </label>
                                                </a>
                                            </div>
                                        </td>
                                        <td>600</td>
                                        <td>0</td>
                                        <td>0.000</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>6000.00</td>
                                        <td>65.75</td>
                                        <td>1697.67</td>
                                        <td>1697.67</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="">542012-EQ</a>
                                        </td>
                                        <td>
                                            IPL gets started<button class="btn btn-primary allocation-more btn-rounded _r_btn border-0 float-right" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="_dot _r_block-dot"></span></button>
                                            <div class="table-dropdown dropdown-menu" x-placement="bottom-start">
                                                <a class="dropdown-item">
                                                    <label class="radio radio-primary mb-0" checked="">
                                                        <input type="radio" name="radio" value="0" checked=""><span>View Breakdown</span><span class="checkmark"></span>
                                                    </label>
                                                </a>
                                                <a class="dropdown-item">
                                                    <label class="radio radio-primary mb-0">
                                                        <input type="radio" name="radio" value="0"><span>Fundamentals</span><span class="checkmark"></span>
                                                    </label>
                                                </a>
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item">
                                                    <label class="radio radio-primary mb-0">
                                                        <input type="radio" name="radio" value="0"><span>View Breakdown</span><span class="checkmark"></span>
                                                    </label>
                                                </a>
                                            </div>
                                        </td>
                                        <td>600</td>
                                        <td>0</td>
                                        <td>0.000</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>6000.00</td>
                                        <td>65.75</td>
                                        <td>1697.67</td>
                                        <td>1697.67</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="">542012-EQ</a>
                                        </td>
                                        <td>
                                            IPL gets started<button class="btn btn-primary allocation-more btn-rounded _r_btn border-0 float-right" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="_dot _r_block-dot"></span></button>
                                            <div class="table-dropdown dropdown-menu" x-placement="bottom-start">
                                                <a class="dropdown-item">
                                                    <label class="radio radio-primary mb-0" checked="">
                                                        <input type="radio" name="radio" value="0" checked=""><span>View Breakdown</span><span class="checkmark"></span>
                                                    </label>
                                                </a>
                                                <a class="dropdown-item">
                                                    <label class="radio radio-primary mb-0">
                                                        <input type="radio" name="radio" value="0"><span>Fundamentals</span><span class="checkmark"></span>
                                                    </label>
                                                </a>
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item">
                                                    <label class="radio radio-primary mb-0">
                                                        <input type="radio" name="radio" value="0"><span>View Breakdown</span><span class="checkmark"></span>
                                                    </label>
                                                </a>
                                            </div>
                                        </td>
                                        <td>600</td>
                                        <td>0</td>
                                        <td>0.000</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>6000.00</td>
                                        <td>65.75</td>
                                        <td>1697.67</td>
                                        <td>1697.67</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade show" id="demat" role="tabpanel">
                <div class="tab tab-active" data-id="tab1">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="chart-head">
                                <h4>Account</h4>
                            </div>
                            <div id="allocation-7" style="height: 300px;"></div>
                        </div>
                        <div class="col-md-4">
                            <div class="chart-head">
                                <h4>Sectors</h4>
                            </div>
                            <div id="allocation-8" style="height: 300px;"></div>
                        </div>
                        <div class="col-md-4">
                            <div class="chart-head">
                                <h4>Stocks</h4>
                            </div>
                            <div id="allocation-9" style="height: 300px;"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <div class="d-block">
                                <p>Last updated :Equity-2020/09/18 | MF-2020/09/17</p>
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <div class="float-right d-block">
                                <a href="#"><i class="i i-Download pr-2"></i>Download: Xlsx | Xlxs data | PDF</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row m-2">
                    <div class="card p-4 fulltable">
                        <div class="table-responsive">
                            <table class="display table table-hover allocation-table" id="ul-contact-list2" style="width:100%">
                                <thead>
                                    <tr>
                                        <th style="width: 80px;">Script</th>
                                        <th style="width: 150px;">Name</th>
                                        <th>Collateral</th>
                                        <th>Broker Beneficiary</th>
                                        <th>Depository</th>
                                        <th>Inward Short</th>
                                        <th>Outward Short</th>
                                        <th>Net</th>
                                        <th>Closing Price</th>
                                        <th>Value</th>
                                        <th>Allocation</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 footer-shadow1">
            <h4 class="mt-4">Support</h4>
            <p>NSE & BSE – SEBI Registration no.: INZ000031633 | MCX - SEBI Registration no.: INZ000038238 | CDSL - SEBI Registration no.: IN-DP-100-2015</p>
            <p>
                Disclaimer : Investment in securities market are subject to market risks, read all the related documents carefully before investing. Please refer the Risk Disclosure Document issued by SEBI and go through the Rights and Obligations and
                Do’s and Dont’s issued by Stock Exchanges and Depositories before trading on the Stock Exchanges. For commodities derivatives please note that Commodities Derivatives are highly leveraged instruments. PMS is not offered in Commodity
                Derivative Segment. Before investing in the asset class consider your investment objectives, level of experience and risk appetite carefully.
            </p>
            <p>Mutual funds disclaimer : Mutual Fund investment are subject to market risk. Read all the scheme related documents carefully before investing.</p>
        </div>
    </div>
</div>

<script>
    var table = $('#grdHoldingDetials').dataTable({
            serverSide: true,
            processing: true, // for show progress bar
            serverSide: true, // for process server side
            filter: true, // this is for disable filter (search box)
            orderMulti: false, // for disable multiple column at once
                ajax: {
                    url: '@Url.Action("GetHoldingDetails", "Portfolio")',
                    type: 'POST',
                    datatype: 'json',
                    data: function (data) {
                        var ToDate = $('#ToDate').val();
                        data.ToDate = ToDate;
                    }
                },
                processing: true,
                columns: [
                    {
                        data: 'SCRIP_SYMBOL', name: "SCRIP_SYMBOL"
                    },
                    {
                        data: 'SCRIP_NAME', name: "SCRIP_NAME" // Need to discuss BUYQTY
                    },
                    {
                        data: 'ISIN', name: "ISIN"
                    },
                    {
                        data: 'COLQTY', name: "COLQTY"
                    },
                    {
                        data: 'BRBENQTY', name: "BRBENQTY" // depository
                    },
                    {
                        data: 'SOHQTY', name: "SOHQTY"
                    },
                    {
                        data: 'INSHORT', name: "INSHORT"
                    },
                    {
                        data: 'OUTSHORT', name: "OUTSHORT"
                    },
                    {
                        data: 'NET', name: "NET"
                    },
                    {
                        data: 'SCRIP_VALUE', name: "SCRIP_VALUE"
                    },
                    {
                        data: 'AMOUNT', name: "AMOUNT" // Value
                    },
                    {
                        data: 'PERCENT_HOLD', name: "PERCENT_HOLD" // Allocation Need to discuss
                    }
                ]
    })

    $("#btnView").click(function () {
       table.fnDraw();
    });

</script>
<script type="text/javascript">
    $(document).on('click', '.table-dropdown.dropdown-menu', function (e) {
        e.stopPropagation();
    });
</script>

