
@{
    ViewBag.Title = "Index";
}

<div class="main-content container-fluid">
    <div class="money-info-section">
        <div class="row">
            <!-- ICON BG-->
            <div class="col">
                <div class="card value-box card-icon-bg card-icon-bg-primary o-hidden mb-2">
                    <div class="card-body text-center">
                        <i class="i-Money-Bag"></i>
                        <div class="content">
                            <p class="text-muted mt-2 mb-0">Current Value</p>
                            <p class="text-primary text-14 line-height-1 mb-2">₹49,62,454.00</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card value-box card-icon-bg card-icon-bg-primary o-hidden mb-2">
                    <div class="card-body text-center">
                        <i class="i-Financial"></i>
                        <div class="content">
                            <p class="text-muted mt-2 mb-0">Investment Value</p>
                            <p class="text-primary text-14 line-height-1 mb-2">₹48,72,228.00</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card value-box card-icon-bg card-icon-bg-primary o-hidden mb-2">
                    <div class="card-body text-center">
                        <i class="i-Line-Chart-2"></i>
                        <div class="content">
                            <p class="text-muted mt-2 mb-0">Today's P/L</p>
                            <p class="text-danger text-14 line-height-1 t-font-boldest mb-2">₹-1,38,736.35<span class="text-small">(-2.85%)</span></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card value-box card-icon-bg card-icon-bg-primary o-hidden mb-2">
                    <div class="card-body text-center">
                        <i class="i-Money-2"></i>
                        <div class="content">
                            <p class="text-muted mt-2 mb-0">Unrealised P/L</p>
                            <p class="text-primary text-14 line-height-1 mb-2">₹-90,225.97<span class="text-small">(-1.85%)</span></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card value-box card-icon-bg card-icon-bg-primary o-hidden mb-2">
                    <div class="card-body text-center">
                        <i class="i-Money-2"></i>
                        <div class="content">
                            <p class="text-muted mt-2 mb-0">Equity Balance</p>
                            <p class="text-primary text-14 line-height-1 mb-2">₹-3,10,623.51<span class="text-small">(-1.85%)</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="breadcrumb">
        <h1 class="mr-2">Hi, Priyank</h1>
    </div>
    <div class="separator-breadcrumb border-top"></div>
    <div class="row mb-4">
        <div class="col-lg-5 col-md-12 mb-3">
            <div class="card text-left">
                <div class="card-body">
                    <h4 class="card-title mb-3">Financial Information(Global)</h4>
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead class="thin-border-bottom">
                                <tr>
                                    <th width="10pt">
                                        <i class="ace-icon fa fa-caret-right blue"></i>
                                    </th>
                                    <th>
                                        <i class="ace-icon fa fa-caret-right blue"></i>
                                    </th>
                                    <th class="text-right">
                                        <i class="ace-icon fa fa-caret-right blue"></i>Balance
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th align="left">
                                        <a href="#">NSE_CASH <span class="badge badge-info">Visit</span></a>
                                    </th>
                                    <td align="left">
                                        :
                                    </td>
                                    <td align="right">
                                        0.00 CR
                                    </td>
                                </tr>
                                <tr>
                                    <td align="left">&nbsp;</td>
                                    <td align="left">&nbsp;</td>
                                    <td align="right">
                                        <span class="badge badge-success">Balance</span>
                                        <b>0.00 CR</b>
                                    </td>
                                </tr>
                                <tr>
                                    <th align="left">
                                        <a href="#">NSE_FNO <span class="badge badge-info">Visit</span></a>
                                    </th>
                                    <td align="left">
                                        :
                                    </td>
                                    <td align="right">
                                        45020982.50 CR
                                    </td>
                                </tr>
                                <tr>
                                    <td align="left">&nbsp;</td>
                                    <td align="left">&nbsp;</td>
                                    <td align="right">
                                        <span class="badge badge-success">Balance</span>
                                        <b>45020982.50 CR</b>
                                    </td>
                                </tr>
                                <tr>
                                    <th align="left">
                                        <a href="#">cdsl <span class="badge badge-info">Visit</span></a>
                                    </th>
                                    <td align="left">
                                        :
                                    </td>
                                    <td align="right">
                                        675.00 DR
                                    </td>
                                </tr>
                                <tr>
                                    <td align="left">&nbsp;</td>
                                    <td align="left">&nbsp;</td>
                                    <td align="right">
                                        <span class="badge badge-success">Balance</span>
                                        <b>45020307.50 CR</b>
                                    </td>
                                </tr>
                                <tr title="NSE_FNO :70296191.78
                                       ">
                                    <th align="left">
                                        Margin
                                    </th>
                                    <td align="left">
                                        :
                                    </td>
                                    <td align="right">
                                        70296191.78 DR
                                    </td>
                                </tr>
                                <tr>
                                    <th align="left">
                                        Colletral
                                    </th>
                                    <td align="left">
                                        :
                                    </td>
                                    <td align="right" title="NSE_FNO :35196374.14
                                          NSE_SLBM :0.00
                                          ">
                                        35196374.14 CR
                                    </td>
                                </tr>
                                <tr>
                                    <th align="left">
                                        Ass(A0108M)
                                    </th>
                                    <td align="left">
                                        :
                                    </td>
                                    <td align="right">
                                        0.00 CR
                                    </td>
                                </tr>
                                <tr>
                                    <td align="left" nowrap="">
                                        <b>Margin Short/Excess</b>
                                    </td>
                                    <td align="left">&nbsp;</td>
                                    <td align="right">
                                        35099817.64 DR
                                    </td>
                                </tr>
                                <tr>
                                    <th align="left">
                                        Beneficiary
                                    </th>
                                    <td align="left">
                                        :
                                    </td>
                                    <td align="right">
                                        0.00 CR
                                    </td>
                                </tr>
                                <tr>
                                    <th align="left">
                                        Net
                                    </th>
                                    <td align="left">
                                        :
                                    </td>
                                    <td align="right">
                                        <span class="badge badge-success">Balance</span>
                                        <b>9920489.86 CR</b>
                                    </td>
                                </tr>
                                <tr title="">
                                    <th align="left">
                                        UnConcile Credit
                                    </th>
                                    <td align="left">
                                        :
                                    </td>
                                    <td align="right" style="
                                          ;">
                                        0.00 CR
                                    </td>
                                </tr>
                                <tr title="">
                                    <th align="left" style="
                                          ;">
                                        Ledger
                                    </th>
                                    <td align="left">
                                        :
                                    </td>
                                    <td align="right" style="
                                          ;">
                                        45020307.50 CR
                                    </td>
                                </tr>
                                <tr title="">
                                    <th align="left" style="
                                          ;">
                                        Ledger+Mrg-Coll
                                    </th>
                                    <td align="left">
                                        :
                                    </td>
                                    <td align="right" style="
                                          ;">
                                        9920489.86 CR
                                    </td>
                                </tr>
                                <tr>
                                    <th align="left">
                                        Pending Advance Brokerage
                                    </th>
                                    <td align="left">
                                        :
                                    </td>
                                    <td align="right" style="
                                          ;">
                                        0.00 CR
                                    </td>
                                </tr>
                                <tr>
                                    <th align="left">
                                        Pending Receipt
                                    </th>
                                    <th align="left">
                                        :
                                    </th>
                                    <td align="right" style="
                                          ;">
                                        0.00 CR
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- end of col-->
        <div class="col-lg-7 col-md-12">
            <div class="card mb-4">
                <div class="card-body">
                    <div class="card-title">Holdings (4)</div>
                    <div class="row">
                        <div class="col-md-6" style="border-right: 1px solid #d2d2d2;">
                            <div id="basicDoughnut" style="height: 350px;"></div>
                        </div>
                        <div class="col-md-6 align-self-center">
                            <table class="table table-borderless">
                                <tr>
                                    <td>Current Value</td>
                                    <td><b>32.86k</b></td>
                                </tr>
                                <tr>
                                    <td>Investment</td>
                                    <td><b>32.86k</b></td>
                                </tr>
                                <tr>
                                    <td>P & L</td>
                                    <td><b>32.86k</b></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <div class="card card-last-equal mb-4">
                        <div class="card-body">
                            <div class="card-title">Market Overview</div>
                            <div id="basicLine" style="height: 300px;"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="card card-last-equal mb-4">
                        <div class="card-body">
                            <div class="card-title">Positions (2)</div>
                            <div class="positions-middle">
                                <div class="ul-widget-card__progress-rate">
                                    <span>DEF CNC</span><span>ABC CNC</span>
                                </div>
                                <div class="progress progress--height mb-3">
                                    <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end of col-->
    </div>
</div>
